.NavBar {
    height: 56px;
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    background-color: #00487C;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.NavLinks {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
    margin-top: 0px;
}