.posts-main {
    border-collapse: collapse;
}

.post-main {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    margin-bottom: 0.5rem;;
}

.image, .content-timestamp {
    display: inline;
}

.post-content, .post-timestamp {
    display: inline-block;
}

.post-content {
    padding-left: 3rem;
}
