.posts-main {
    border-collapse: collapse;
}

.post-main {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    margin-bottom: 0.5rem;;
}

.delete-btn {
    text-align: right;

}

.del-btn {
    background-color: LightGray;
    color: #f44e42
}
