.posts-main {
    border-collapse: collapse;
}

.post-main {
    border: 2px solid #286ee0;
    border-radius: 10px;
    padding: 0.5rem;
    text-align: left;
    font-family: Times, serif;
    width:80%;
    margin: auto;
    margin-bottom: 0.5rem;
}

.image, .content-timestamp {
    display: inline;
}

.post-content, .post-timestamp {
    display: inline-block;
}

.post-content {
    padding-left: 3rem;
}
