<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Acebook</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

<h1>Posts</h1>

<form action="#" th:action="@{/posts}" th:object="${post}" method="post">
    <p>Content: <input type="text" th:field="*{content}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

<ul th:each="post: ${posts}">
    <li th:text="${post.content}" />
</ul>

</body>
</html>
