<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<body>

<div>
    <form method="POST" enctype="multipart/form-data" th:action="@{/makepost}">
        <table>
            <tr><td>Name:</td><td><input type="text" name="name" /></td></tr>
            <tr><td>Message:</td><td><input type="text" name="message" /></td></tr>
            <tr><td></td><td><input type="submit" value="Post" /></td></tr>
        </table>
    </form>
</div>


</body>
</html>