<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<style>
    body {
        background-image: url("https://media1.tenor.com/images/2f7f25c0c4e7a4607cf07a89625385e0/tenor.gif?itemid=3564642");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: black;
    }
</style>
<body>

<div>
    <form method="POST" enctype="multipart/form-data" th:action="@{/makepost}">
        <table>
            <tr><td>Name:</td><td><input type="text" name="name" /></td></tr>
            <tr><td>Message:</td><td><input type="text" name="message" /></td></tr>
            <tr><td><input type="submit" value="Post" /></td></tr>
        </table>
    </form>
</div>


</body>
</html>